<style>
    .ko {
        height:300px;
        width:100%;
        margin-top:70px;
        padding:10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
       
            <div  class="ko" style="background-color:#f1f8e9;">
                <h5 style="text-align:center;">USERS</h5>
                <button class="btn btn-primary">New user</button>
                <table class="table table-striped">
                    <thead class="table-success">
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="table_body">
                      <tr>
                          <td>Serge</td>
                          <td>Shalo</td>
                          <td>Admin</td>
                          <td>
                              <button class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
                              <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Delete</button>
                          </td>
                     </tr>
                    
                     <tr>
                          <td>Serge</td>
                          <td>Shalo</td>
                          <td>Admin</td>
                          <td>
                              <button class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
                              <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Delete</button>
                          </td>
                     </tr>
                    
                    </tbody>
              </table>
            </div>
        </div>
         <div class="col-md-6">
            <div style="background-color:#d0d6e2;" class="ko">
                <h5 style="text-align:center;">COUNTRIES</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-gorup">
                            <input class="form-control" name="countryname" id="countryname" placeholder="Country Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-gorup">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead class="table-warning">
                      <tr>
                        <th>Country</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="table_body">
                     
                     <tr>
                          <td>USA</td>
                          <td>
                              <button class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
                              <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Delete</button>
                          </td>
                     </tr>
                    
                    </tbody>
              </table>
            </div>
        </div>
        
    </div>
</div>